.recipes-content {
  margin: 20px
}

.loading-message,
.error-message {
  font-size: 20px;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px
}

/* blur background behind modal*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  z-index: 900
}

.recipe-card-div {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  box-sizing: border-box;
  justify-items: center;
}
.recipe-card-div .more-info-button {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color:#BEBEBE;
}

.more-info-button:hover {
  background-color:	#C8C8C8;
}

.recipe-card {
  border: 2px solid #A3D3FF;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #A3D3FF;
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}

.recipe-div button {
  padding: 7px;
  border: none;
  border-radius: 5px;
  background-color: #8FBC8F;
  font-size: 15px;
}

.recipe-div button:hover {
  background-color: #A9D0A9;
}

.date-form input{
  margin: 5px;
  font-size: 17px;
}

.date-form button {
  padding: 7px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #8FBC8F;
  font-size: 15px;
}

.date-form button:hover {
  background-color: #A9D0A9;
}

.no-recipes {
  text-align: center;
  font-size: 20px;
}

.error-message {
  color: red
}



